.contacts-section {
  border: 1px solid gray;
  flex: 2;
  display: flex;
  flex-direction: column;

  .contacts-header {
    font-weight: bold;
    height: 40px;
    border-bottom: 1px solid black;
    text-align: center;
    padding-top: 13px;
    box-sizing: border-box;
  }
  .contact-item {
    text-align: center;
    padding: 20px;
    cursor: pointer;
    background-color: lightskyblue;
    border-bottom: 1px solid white;

    &:visited {
      color: green;
    }

    &:hover {
      background-color: lightsteelblue;
    }

    &:active {
      color: blue;
    }
  }
}
